body{
    background-color: #e8f5f2;
}
img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}
table,th, tr, td{
    border: 1px solid black;
    min-width: 50%;
    margin: auto;
    font-size: 1em;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}
th{background-color: aqua;}